<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>LibraryMangement</display-name>
  <welcome-file-list>
    <welcome-file>adminLogin.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.java.librarymanagement.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/loginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberController</servlet-name>
    <servlet-class>com.java.librarymanagement.controller.MemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberController</servlet-name>
    <url-pattern>/memberController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListMemberController</servlet-name>
    <servlet-class>com.java.librarymanagement.controller.ListMemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListMemberController</servlet-name>
    <url-pattern>/listMemberController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookController</servlet-name>
    <servlet-class>com.java.librarymanagement.controller.BookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookController</servlet-name>
    <url-pattern>/bookController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListBookController</servlet-name>
    <servlet-class>com.java.librarymanagement.controller.ListBookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListBookController</servlet-name>
    <url-pattern>/listBookController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.java.librarymanagement.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/logoutController</url-pattern>
  </servlet-mapping>
</web-app>